<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Instagram Client</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home <span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <!-- FIXME: Delete and move this chapter after implementation  of Upload Images feature -->
        <a class="nav-link" routerLink="/upload_images">Upload Image</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/instagram" routerLinkActive="active" *ngIf="currentUser">Instagram</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit">Search</button>
    </form>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
             aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" routerLink="/auth/sign-in" *ngIf="!currentUser">Sign In</a>
          <a class="dropdown-item" routerLink="/auth/sign-up" *ngIf="!currentUser">Sign Up</a>
          <a class="dropdown-item" href="#" *ngIf="currentUser">Settings</a>
          <form method="post">
            <button type="submit" class="dropdown-item" (click)="logout()" *ngIf="currentUser">Logout</button>
          </form>
        </div>
      </li>
    </ul>
  </div>
</nav>
