<div class="container" *ngIf="posts">
  <div class="row">
    <picture class="pb-4" *ngFor="let post of posts.posts">
      <div class="card">
        <div class="card-body">
          <figure class="figure">
            <img
              [src]="post.picUrl"
              class="figure-img img-fluid img-thumbnail" alt="...">
            <figcaption class="figure-caption">{{post.description}}</figcaption>
          </figure>

          <div class="btn-group float-md-left mt-1" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger" (click)="onShowLikes()">Likes <span
              class="badge badge-light">{{ post.likesCount }}</span>
            </button>
            <button type="button" class="btn btn-danger" (click)="onShowComments()">Comments <span
              class="badge badge-light">{{ post.commentsCount }}</span></button>
          </div>
        </div>
      </div>
    </picture>

  </div>

</div>
