<div class="container-fluid d-flex justify-content-center col-sm-12">
  <div class="card">
    <article class="card-body">
      <a routerLink="/auth/sign-up" class="float-right btn btn-outline-primary">Sign up</a>
      <h4 class="card-title mb-4 mt-1">Sign in</h4>
      <hr>
      <p class="text-center">Please type your login and password for Instagram</p>
      <form method="post" (ngSubmit)="onLogin()">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i></span>
            </div>
            <input name="username" class="form-control" placeholder="Email or login"
                   type="text" [(ngModel)]="credentials.username">
          </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" name="password" placeholder="******" type="password"
                   [(ngModel)]="credentials.password">
          </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
        <div class="form-group">
          <div class="checkbox">
            <label><input class="mr-sm-2" type="checkbox">Save password</label>
          </div> <!-- checkbox .// -->
        </div> <!-- form-group// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
      </form>
    </article>
  </div>
</div>
