<div class="container p-2">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Login</th>
        <th scope="col">Expiry</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let account of accountList let i = index" [attr.data-index]="i">
        <td scope="row">{{ i + 1 }}</td>
        <td>
          <a routerLink="/instagram/{{account.username}}" routerLinkActive="active">{{ account.username }}</a>
        </td>
        <td>{{ account.expiry }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="onLogout(account)">Logout</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

