<div class="container pt-3">
  <form method="post">
    <div class="form-group row">

      <div class="input-group col-md-6">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputTaskName">Task</label>
        </div>
        <input type="text" class="form-control" id="inputTaskName" placeholder="Task name">
      </div>

      <div class="input-group col-md-6">
        <div class="input-group-prepend">
          <label class="input-group-text">Action</label>
        </div>

        <select class="custom-select">
          <option>TaskAction</option>
          <option>TaskAction2</option>
        </select>
      </div>

    </div>
    <div class="form-group row">
      <div class="input-group col-md-12">
        <div class="input-group-prepend">
          <label class="input-group-text">Periodicity</label>
        </div>

        <select class="custom-select">
          <option>Periodicity</option>
        </select>

        <div class="input-group-append">
          <label class="input-group-text" for="inputEach">Each</label>
        </div>
        <input type="text" class="form-control" id="inputEach" placeholder="Each">
      </div>
    </div>

    <div class="form-group row">
      <div class="input-group col-md-6">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputTaskStatus">Status</label>
        </div>
        <input type="text" class="form-control" id="inputTaskStatus" placeholder="Current status" readonly>
      </div>
      <div class="input-group col-md-6">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputTAG">TAG</label>
        </div>
        <input type="text" class="form-control" id="inputTAG" placeholder="Tag">
      </div>
    </div>
    <div class="form-group row">
      <div class="input-group col-md-12">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputCommentArea">Comment</label>
        </div>
        <textarea class="form-control" id="inputCommentArea" rows="3"
                  placeholder="Write a comment if it's required"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="input-group col-md-6">
        <button type="submit" class="btn btn-primary btn-block" (click)="onSaveTask()">Save</button>
      </div>
      <div class="input-group col-md-6">
        <button type="submit" class="btn btn-danger btn-block" (click)="onCancelTask()">Cancel</button>
      </div>
    </div>
  </form>
</div>
