<div class="accordion col-md-6 container-fluid" id="accordionInstagramLoginForm">
  <div class="card">
    <div class="card-header" id="headingForm">
      <h5 class="mb-0 text-left">
        <button class="btn btn-link  dropdown-toggle" type="button" data-toggle="collapse"
                data-target="#collapseInstagramForm"
                aria-expanded="false" aria-controls="collapseInstagramForm">
          Login into Instagram
        </button>
      </h5>
    </div>
    <div id="collapseInstagramForm" class="collapse" aria-labelledby="headingForm"
         data-parent="#accordionInstagramLoginForm">
      <div class="card-body">
        <div class="container">
          <form [formGroup]="checkoutForm" >
            <div class="form-group">
              <label for="inputInstagramLogin">Instagram login</label>
              <input type="text" class="form-control" id="inputInstagramLogin" aria-describedby="instagramLoginHelp"
                     placeholder="Instagram login" formControlName="login">
              <small id="instagramLoginHelp" class="form-text text-muted">Use the e-mail or username to login into
                instagram.com</small>
            </div>
            <div class="form-group">
              <label for="instagramInputPassword">Password</label>
              <input type="password" class="form-control" id="instagramInputPassword" formControlName="password"
                     placeholder="Password">
            </div>
            <button class="btn btn-primary" (click)="onSubmitInstagramLogin(checkoutForm.value)">Login</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
