<div class="container" *ngIf="instagramAccount">
  <div class="row">
    <div class="col-md-6 ">
      <div class="row bg-light rounded">
        <div class="col mh-100">
          <a [href]="instagramAccount?.accountUrl"
             class="thumbnail"
             target="_blank" rel="noopener noreferrer">
            <img class="w-25 m-3 rounded"
                 [src]="instagramAccount?.imageUrl"
                 alt="">
          </a>
        </div>
        <div class="col mt-1">
          <div class="row">
            <div class="col">
              <div class="btn-group" role="group" aria-label="Action group">
                <button class="btn badge badge-success" (click)="onSetAction(actionEnum.default)">Liking</button>
                <button class="btn badge badge-info" (click)="onSetAction(actionEnum.tasks)">Tasks</button>
                <button class="btn badge badge-danger" (click)="onSetAction(actionEnum.default)">TODO</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <p><strong class="mx-2">{{instagramAccount?.fullName}}</strong></p>
          <button class="mx-1 button col-md-3 badge badge-warning"
                  (click)="onSetAction(actionEnum.posts)">{{instagramAccount?.posts}} posts
          </button>
          <button class="mx-1 button col-md-3 badge badge-info"
                  (click)="onSetAction(actionEnum.followers)">{{ instagramAccount?.followerCount}}
            followers
          </button>
          <button class="mx-1 button col-md-3 badge badge-secondary"
                  (click)="onSetAction(actionEnum.following)">{{ instagramAccount?.followingCount}}
            following
          </button>
          <button class="mx-1 button col-md-3 badge badge-success"
                  (click)="onSetAction(actionEnum.mutual)">{{ instagramAccount?.mutualCount}}
            mutual
          </button>
          <button class="mx-1 button col-md-3 badge btn-danger"
                  (click)="onSetAction(actionEnum.unmutual)">{{ instagramAccount?.unmutualCount}}
            unmutal
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6" [ngSwitch]="action">
      <app-posts *ngSwitchCase="actionEnum.posts"></app-posts>
      <app-followers *ngSwitchCase="actionEnum.followers" [actionEnum]="actionEnum.followers"></app-followers>
      <app-followers *ngSwitchCase="actionEnum.following" [actionEnum]="actionEnum.following"></app-followers>
      <app-followers *ngSwitchCase="actionEnum.mutual" [actionEnum]="actionEnum.mutual"></app-followers>
      <app-followers *ngSwitchCase="actionEnum.unmutual" [actionEnum]="actionEnum.unmutual"></app-followers>
      <app-tasks *ngSwitchCase="actionEnum.tasks"></app-tasks>
    </div>

  </div>
</div>

