<div class="container">
  <div *ngIf="!showNewTask">
    <button class="btn btn-primary float-left" role="button" aria-disabled="true" (click)="onCreateNewTask()">New task
    </button>
    <div class="table-responsive pt-2">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Task name</th>
          <th scope="col">Frequency</th>
          <th scope="col">Action</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td><a href="#">Task #1</a></td>
          <td>Each day</td>
          <td>Follow, Like, Leave message</td>
          <td>
            <button class="btn btn-primary" role="button" aria-disabled="true">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="showNewTask">
    <app-new-task (taskCanceled)="onTaskCancelled($event)"></app-new-task>

  </div>
</div>

