<div class="container">
  <div class="starter-template">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <form>
            <img [src]="imgURL"
                 alt="..." class="img-thumbnail">
            <div class="custom-file">
              <input #imageInput type="file" class="custom-file-input" id="customFile"
                     (change)="processImage(imageInput)"
                     accept="image/*">
              <label class="custom-file-label" for="customFile">{{fileName}}</label>
            </div>
          </form>

        </div>
        <div class="col">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="descriptionArea">Describe your photo:</label>
                  <textarea #comment class="form-control" id="descriptionArea" rows="3"></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onSubmitImage(comment)">
                  Publish
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-danger btn-lg btn-block" (click)="onCancel()">Cancel</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
