<div class="container" *ngIf="followers">
  <div class="pb-4" *ngFor="let follower of followers.followers">
    <div class="container border border-secondary rounded">
      <a target="_blank" rel="noopener noreferrer" [href]="'https://www.instagram.com/'+follower.username"><h2
        class="h2">{{ follower.username }}</h2></a>
      <div class="row text-center">
        <div class="col-sm-6 align-self-center">
          <img class="rounded-circle img-thumbnail" alt="100x100"
               [src]="follower.pictureUrl"
               data-holder-rendered="true">
        </div>
        <div class="col-sm-6 align-self-center">
          <button type="button" class="btn btn-danger btn-lg btn-block" (click)="onUnfollow(follower.instagramPk)">Unfollow
          </button>
          <button type="button" class="btn btn-lg btn-block"
                  [ngClass]="follower.isFavorite ? 'btn-success' : 'btn-secondary'">Favorite ⭐
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
